#red {
    color: red; 
}
#blue{
    color: blue; 
   /*  color: #0b58ca;
    color: rgb(11, 11, 255);
    color: hsl(235, 45%, 48%); */
}
#orange{
    color: orangered;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
h2{
    font-weight: normal;
}

img{width: 200px; 
height: 200px;}