h2 {
  color: #fefefe;
background-color: black;
}
body {
    background-color: rgb(243, 105, 25);
}

/*pristup preko ID-a*/
#prvi {
  color: blue;

}
  /*pristup preko klase*/

 .drugi{
  color: brown;

}